/* source key position labels */
#include "zmk-helpers/key-labels/42.h"
// #include "zmk-helpers/unicode-chars/german.dtsi"

/* map the Glove's extra keys */
#define X_LT    &kp TAB
#define X_RT    &de_ue

#define X_LM    &kp ESC
#define X_RM    &de_ae

#define X_LB    &kp LSHFT
#define X_RB    &kp FSLH

#define X_LH    &kp LALT
#define X_RH    &kp RCTRL

/* activate bluetooth */
#define CONFIG_WIRELESS

/* source the main keymap */
#include "base.keymap"

